.new-collections {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    margin-bottom: 100px;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.new-collections h1 {
    color: #171717;
    font-size: 3.125em;
    font-weight: 600;
    text-align: center;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 30px;
}

@media (max-width: 1200px) {
    .collections {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .collections {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .collections {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .new-collections {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .new-collections h1 {
        font-size: 2em;
    }

    .new-collections hr {
        width: 150px;
    }
}
