.newsletter {
    gap: 30px;
    width: 90%;
    max-width: 800px;
    height: auto;
    margin: auto;
    padding: 20px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter h1 {
    color: #454545;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.newsletter p {
    color: #454545;
    font-size: 1rem;
    text-align: center;
}

.newsletter .div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 40px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    box-sizing: border-box;
}

.newsletter input {
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    border: 2px solid #e3e3e3; 
    border-radius: 5px; 
    outline: none;
    color: #616161;
    font-size: 1rem;
    padding: 10px;
    box-sizing: border-box;
}

.newsletter div button {
    width: 100%;
    max-width: 210px;
    height: 50px;
    border-radius: 40px;
    background: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .newsletter {
        padding: 20px 10px;
    }

    .newsletter h1 {
        font-size: 2rem;
    }

    .newsletter p {
        font-size: 0.875rem;
    }

    .newsletter .div {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .newsletter input {
        width: 100%;
        max-width: none;
        margin: 10px 0;
    }

    .newsletter div button {
        width: 100%;
        max-width: none;
        height: 45px;
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .newsletter h1 {
        font-size: 1.5rem;
    }

    .newsletter p {
        font-size: 0.75rem;
    }

    .newsletter input {
        padding: 8px;
    }

    .newsletter div button {
        height: 40px;
        font-size: 0.75rem;
    }
}
