.productdisplay {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 5%;
    gap: 20px;
}

.productdisplay-left {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: center;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img {
    height: 125px;
    width: auto;
}

.productdisplay-main-img {
    width: 100%;
    max-width: 486px;
    height: auto;
}

.productdisplay-right {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    flex: 1;
    min-width: 250px;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 2rem;
    font-weight: 700;
}

.productdisplay-right-stars {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 1rem;
}

.productdisplay-right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 1.5rem;
    font-weight: 700;
}

.productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new {
    color: #ff4141;
}

.productdisplay-right-size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 1.25rem;
    font-weight: 600;
}

.productdisplay-right-sizes {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
    flex-wrap: wrap;
}

.productdisplay-right-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right button {
    padding: 20px 40px;
    width: 100%;
    max-width: 200px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: #ff4141;
    border-radius: 5px;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category {
    margin-top: 10px;
}

.productdisplay-right-category span {
    font-weight: 600;
}

@media (min-width: 768px) {
    .productdisplay {
        margin: 0px 170px;
    }

    .productdisplay-left {
        flex-direction: row;
    }

    .productdisplay-main-img {
        height: 550px;
        width: 486px;
    }

    .productdisplay-right {
        margin: 0px 70px;
    }
}

@media (max-width: 767px) {
    .productdisplay-left {
        flex-direction: column;
        align-items: center;
    }

    .productdisplay-right h1 {
        font-size: 1.5rem;
    }

    .productdisplay-right-stars {
        font-size: 0.875rem;
    }

    .productdisplay-right-prices {
        font-size: 1.25rem;
        gap: 15px;
    }

    .productdisplay-right-size h1 {
        font-size: 1rem;
    }

    .productdisplay-right button {
        font-size: 0.875rem;
    }
}
